cParser.cpp
cParser.hpp
cScanner.cpp
parsetree.txt
/.idea
./.vscode/*
/cmake-build-debug
compiler
parsetree.txt
g++
gcc
/build
test.cpp
test.exe
.gitignore
.clang-format
build/*
*.html
*.o
tester
tester/*
output.exe
output.o
tester/*